<div class="row"><!-- 広告詳細 -->
	<div class="text-center">
		<h3>取引画面</h3><br>
	</div>
	<%= render 'ad_info', ad: @ad %>
<div class="row"><!-- チャット機能 -->
<br>
</div>
<div class="row"><!-- 作業報告エリア -->
	<div class="col-xs-11 col-xs-offset-1">
		<% if ad_client_signed_in? %>
			<%= render 'flow_ad_client', under_deal: @under_deal %>
		<% elsif driver_signed_in?  %>
			<%= render 'flow_driver', under_deal: @under_deal %>
		<% end %>
	</div>
</div>
<div class="row"><!-- メッセージエリア -->
	<div class="col-xs-11 col-offset-1">
		<%= render 'deal_message', { under_deal: @under_deal, message: @message, messages: @messages } %>
	</div>
</div>
