<div class="row">
	<div class="col-md-3">
		<!-- 前の画面に戻る -->
					<!-- プロフィール -->
		<% if ad_client_signed_in? %>
			<%= render 'ad_clients/profile' , ad_client: @ad_client %>
		<% elsif driver_signed_in?%>
			<%= render 'drivers/sidebar' , driver: @driver %>
		<% end %><br>
		<!-- ジャンル一覧 -->
			<%= render "ads/genre_templete", genres: @genres %>
		</div>
	<div class="col-xs-8">
		<%= render 'ads/index', ads: @ads %>
	</div>
</div>

