<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h3>アドミントップページ</h3>
			</div>
		</div>
	</div>

	<table>
		<th>お知らせ管理</th>
		<th>広告主管理</th>
		<th>ドライバー管理</th>
		<th>お問い合わせ管理</th>

		<td><%= link_to "新規作成",new_information_path %> <%= link_to "お知らせ一覧",informations_path %></td>
		<td>広告主一覧へ</td>
		<td>ドライバー一覧へ</td>
		<td>新規お問い合わせ　対応中　過去</td>

	</table>