<table class="table">
	<tr>
		<td class="text-center">
			<%= attachment_image_tag ad_client, :profile_image, :fill, 230, 170, fallback: "no_image.jpg",size:"230x170" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<%= ad_client.company_name %> さん
		</td>
	</tr>
	<% if current_ad_client == ad_client %>
	<tr>
		<td class="text-center">
			<%= link_to 'ドライバー情報 編集',edit_ad_client_path(ad_client),class: "btn btn-default" %>
		</td>
	</tr>
	<% end %>
</table>