<table class="table">
	<tr id="none-border">
		<td class="text-center image-circle">
			<%= attachment_image_tag ad_client, :profile_image, :fill, 230, 170, fallback: "no_image.jpg",size:"230x170", class: "image-circle" %>
		</td>
	</tr>
	<tr id="none-border">
		<td class="text-center">
			<%= ad_client.company_name %> さん
		</td>
	</tr>
	<% if current_ad_client == ad_client %>
	<tr id="none-border">
		<td class="text-center">
			<%= link_to 'プロフィール 編集',edit_ad_client_path(ad_client),class: "btn btn-primary" %>
		</td>
	</tr>
	<% end %>
</table>