<div class="row">
	<div class="col-xs-3">
		<!-- サイドバー -->
		<%= render 'ad_clients/sidebar', ad_client: current_ad_client %>
	</div>
	<div class="col-xs-8">
		<%= render 'layouts/message_from_admin', ad_client: @ad_client %>
		<%= render 'rooms/index', rooms: @rooms %>
		<%= render 'under_deals/index_ad_client',under_deals: @under_deals, finish_deals: @finish_deals %>
	</div>
</div>

