	<div class="row">
		<div class="col-xs-3">
			<%= render 'ad_clients/profile' , ad_client: @ad_client %><br>
			<%= link_to "新規広告依頼", new_ad_client_ad_path(current_ad_client), data: {"turbolinks" => false }, class: "btn btn-lg btn-info " %><br>
				<!-- サイドバー -->
				<table class="table" id = none-border>
						<tr>
							<td>"フォローユーザー"</td>
						</tr>
						<tr>
							<td><%= link_to "ドライバーを探す", drivers_path  %></td>
						</tr>
						<tr>
							<td>取引一覧</td>
						</tr>
						<tr>
							<td><%= link_to "問い合せ", new_contact_path %></td>
						</tr>
				</table>
		</div>
		<div class="col-xs-9">
		</div>
</div>