<div class="row">
	<div class="col-lg-1">
	</div>
	<div class="col-lg-6">
		<h3>  Follow list</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @followers.each do |driver| %>
					<tr>
						<td><%= attachment_image_tag driver, :profile_image, :fill, 80, 80, fallback: "no-image-mini.jpg" %></td>
						<td><%= driver.driver_name %></td>
						<td><%= link_to "Show", driver, class: "drivers_#{driver.id}" %></td>
					</tr>
					<%end %>
				</tbody>
		</table>
	</div>
</div>