// $('.chat-area').append('<%= attachment_image_tag current_driver, :profile_image, :fill,90,90 %>');
// $('.chat-area').append("<p><%= @chat.message %></p>");
// $('.chat-area').append("<p><%= @chat.created_at.to_s(:datetime_jp) %></p>");
// $('input[type=text]').val("")




