<div class="row">
	<div class="col-xs-12">
		<h1>About Ader</h1>
			<p>Small happiness with driving</p>
				<iframe width="100%" height="520" src="https://www.youtube.com/embed/dsGRxo2xPhc?autoplay=1&loop=1&playlist=dsGRxo2xPhc&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
	</div>
	<div class="col-xs-10 col-xs-offset-1">
		<h2>ader flow</h2>
			<div class="flow-img">
				<%= image_tag "business.png" %>
			</div>
	</div>
	<div class="col-xs-12 about-image">
		<div class="about-card-area">
			<div class="col-xs-3 about-card"> 
				<h3>ご利用の流れ</h3>
					<h4>※現在、準備中です。</h4>
			</div>
			<div class="col-xs-3 about-card"> 
				<h3>QnA よくあるご質問</h3>
					<h4>※現在、準備中です。</h4>
			</div>
			<div class="col-xs-3 about-card">
				<h3>ご利用規約</h3>
					<h4><%= link_to "https://drive.google.com/open?id=1S4yUlGV0eq2iKZGOVUhfwSGGeFXSo35_" do %>ご利用規約<i class="fas fa-angle-double-right"></i><% end %></h4>
			</div>
		</div>
	</div>
	<div class="company-area">
	<div class="col-xs-5 col-xs-offset-1">
		<h3>会社概要</h3>
			<table class="table table-bordered table-white">
				<tr>
					<th>会社名</th>
					<td>株式会社 ader</td>
				</tr>
				<tr>
					<th>本社所在地</th>
					<td>東京都渋谷区神南xxxxxx</td>
				</tr>
				<tr>
					<th>代表取締役</th>
					<td>山田 太郎</td>
				</tr>
				<tr>
					<th>設立</th>
					<td>2020年7月1日</td>
				</tr>	
				<tr>
					<th>資本金</th>
					<td>x百万円</td>
				</tr>											
				<tr>
					<th>連絡先</th>
					<td>0120-aaa-xxx</td>
				</tr>										
				<tr>
					<th>メールアドレス</th>
					<td>surport@ader.jp</td>
				</tr>										
			</table>
	</div>
	<div class="col-xs-5 col-xs-offset-1">
		<div id="map"></div>
			<script>
				var map;
					function initMap(){
						var lat_lng ={ lat: 35.6645956, lng: 139.6987107 }

						map = new google.maps.Map(document.getElementById('map'), {
							center: lat_lng,
							zoom: 12,
						});
						marker = new google.map.Marker({
							position: lat_lng,
							map: map
						})
					}
				</script>
			<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap", async: true, defer: true)) ></script>
		</div>
	</div>
</div>