<h1>About Ader</h1>
<p>Small happiness with driving</p>

<h3>ader flow</h3>
ここにビジネスフロー


<h3>QnA</h3>
よくあるご質問


<h3>ご利用規約</h3>
<%= link_to "ご利用規約","https://drive.google.com/open?id=1S4yUlGV0eq2iKZGOVUhfwSGGeFXSo35_"  %>  


<h3>会社概要</h3>
株式会社 ader
東京都渋谷区神南xxxxxx
surport@ader.jp

ここに地図を埋め込み
