<h1>About Ader</h1>
	<p>Small happiness with driving</p>
		<iframe width="100%" height="520" src="https://www.youtube.com/embed/dsGRxo2xPhc?autoplay=1&loop=1&playlist=dsGRxo2xPhc&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<h2>ader flow</h2>
		<div class="flow-img">
			<%= image_tag "business.png" %>
		</div>
	<h3>QnA よくあるご質問</h3>
		<h4>※現在、準備中です。</h4><br>
	<h3>ご利用規約</h3>
		<h4><%= link_to "ご利用規約","https://drive.google.com/open?id=1S4yUlGV0eq2iKZGOVUhfwSGGeFXSo35_" %></h4><br>
	<h3>会社概要</h3>
		<p>株式会社 ader</p>
		<p>東京都渋谷区神南xxxxxx</p>
		<p>surport@ader.jp</p>
		ここに地図を埋め込み
