<div class="welcom">
	<h1>Welcome ader!!</h1>
		<h3>Deliver a small business to you</h3>
			<h3>Aderは広告を出したい企業と広告宣伝を行いたいドライバーをマッチングするアプリケーションです</h3>
</div>
	<iframe width="100%" height="520" src="https://www.youtube.com/embed/I4oJbQ98CcI?rel=0&autoplay=1&loop=1&playlist=I4oJbQ98CcI&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="flow-img">
	<%= image_tag "business.png" %>
</div>
<div class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<%= link_to image_tag('be_ad_client.png', class: "be_ad_client"),new_ad_client_registration_path %></a>
	</div>
	<div class="col-xs-5">
			<%= link_to image_tag("be_driver.png", class: "be_driver"),new_driver_registration_path %>
	</div>
</div>
