<td>フォロー&emsp;<%= link_to @ad_client.following_driver.count, followings_ad_client_path(@ad_client) %></td>
<td>フォロワー&emsp;<%= link_to @ad_client.follower_driver.count, followers_ad_client_path(@ad_client) %></td>