<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- プロフィール -->
 			<%= render "drivers/profile", driver: @driver %>
 			<%= render "drivers/sidebar", driver: @driver %>
		</div>
		<div class="col-xs-9">
		</div>
	</div>
</div>
