<div class="row">
	<div class="col-xs-3">
		<% if ad_client_signed_in? %>
			<%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
		<% elsif driver_signed_in?%>
			<%= render "drivers/sidebar", driver: current_driver %>
		<% end %>
	</div>
	<div class="col-xs-8 col-xs-offset-1">
		<%= render 'drivers/index', drivers: @drivers %>
	</div>
</div>
