/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

body {
  width: 100;
  background-color: #eee;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(192,192,192);
}

header ul li a:hover {
  color: #b78c33; 
}

.nav {
  text-align: center;
}


/* ロゴとアプリ名 */

.logo {
  text-align: center;
}

/* nav-itemの文字色 */
li a {
  color: rgb(0, 0, 0);
}

/* フッターデザイン */

footer.nb-footer {
  background: #222;
  border-top: 4px solid #b78c33; 
  margin-top: 20px;
}

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px; 
}

footer.nb-footer .about .social-media {
  margin-top: 15px; 
}

footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

footer.nb-footer .about .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33; }
  footer.nb-footer .footer-info-single {
  margin-top: 30px; 
}

footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px; }
  footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #aaa;
  padding: 2px 0; 
}

footer.nb-footer .footer-info-single ul li a:hover {
  color: #b78c33; 
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa; 
}

footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #b78c33; 
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0; 
}

/* 各種会員登録画面 */

.registration {
  width: 100%;
  height:100%;
  background-color: #CCCCCC;
}

.registration-input {
  width:100%;
  height:100%;
  padding:20px 30px;
  background:#EEE;
  margin:30px 0px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  border-radius:15px;
}


/* サイドバー ＆　ジャンル検索メニューバー　*/
.sidebar-area{
  text-align: center;
}

.sidebar {
  width: 70%;
  margin: auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
}

.side-menu{
  display:inline-block;
  background:#fff;
  width: 100%;
  padding:10px 30px 10px 20px;
  text-align:center;
  color:#FFF;
  margin:1px;
  border:1px solid;
  border-color: #696969;
  font-size: 13px;
  color: #000000;
  cursor:pointer;
  position: relative;
  text-decoration: none;
}
/* 矢印マーク　*/
.side-menu::after{
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 5px);
  right: 20px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #000 #000;
  transform: rotate(-135deg);
  transition: .3s;
}

/* ホバーされた時に色を変更　*/
.side-menu:hover {
  color: #fff;
  background-color: #000;
}

.side-menu:hover::after{
  right: 10px;
  border-color: transparent transparent #fff #fff;
}

/* サイドメニューの見出し　*/
.side-menu-heading {
  display:inline-block;
  background:#dcdcdc;
  width: 100%;
  padding:10px 30px 10px 20px;
  text-align:center;
  color:#000;
  margin:1px;
  border:1px solid;
  border-color: #696969;
  font-size: 15px;
  cursor:pointer;
  text-decoration: none;
}


/* 検索フィーム*/
#search-area {
  height: 100%;
}
.search-form{
  box-sizing: border-box;
  margin-top: 30px;
  position: relative;
  border: 1px solid ;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search-form input[type="text"]{
  border: none;
  height: 2.0em;
  width: 90%;
}
.search-form input[type="text"]:focus {
  outline: 0;
}
.search-form button[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.7em;
  right: 0;
  top: -10px;
  outline : none;
}


/* 見出しの下の間隔を開ける */
h3{
  margin-bottom:30px;
}

/* 運営側からのメッセージ */
.notice{
  color: red;
  margin-top: 15px;
}

/* テーブルの先頭の色を変更 */
thead {
  background-color: #dcdcdc;
}

/* テーブルの間隔を開ける */
th, tr, td {
  margin-bottom: 17px;
}

/* リンク用のボタン */


/* イメージhover時の動作 */
.img_wrap{
  width: 200px;
  height: 180px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
}

.img_wrap img{
  width: 100%;
  cursor: pointer;
}

.img_wrap:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

/* プロフィール写真 */
.image-circle{
  width:  200px;
  height: 190px;
  border-radius: 50%;
  position: center;
  filter: drop-shadow(2px 2px 2px #aaa);
}

/* 各種ボタン */
.btn01 {
  position: relative;
  width: 70%;
  display: inline-block;
  padding: 10px 28px;
  background: #000;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2em;
  -webkit-transition: .8s;
  transition: .8s;
}

.btn01 span {
  position: relative;
  z-index: 1;
}

.btn01::before,
.btn01::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 51%;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #fff;
}

.btn01::before {
  left: 0;
}

.btn01::after {
  right: 0;
}

.btn01:hover::before,
.btn01:hover::after {
  width: 0;
  background: #fff;
}

.btn01:hover {
  color: #fff;
}

/* 詳細ボタン */
.btn02 {
  display:inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b78c33;
  border: 1px #b78c33 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.btn02:hover {
  color: #b78c33;
  background: #fff;
}

.fa-arrow-right {
  margin-left: 0.5em;
}

/* Submit & 更新 & 編集ボタン */
.btn03 {
  display:inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b78c33;
  border: 1px #b78c33 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.btn03:hover {
  color: #b78c33;
  background: #fff;
}

.fa-angle-double-right {
  margin-left: 0.5em;
}

/* 戻るボタン */
.btn04 {
  display:inline-block;
  /* 右の送信ボタンとの距離をとる */
  margin-right: 0.4em;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #808080;
  border: 1px #808080 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.btn04:hover {
  color: #808080;
  background: #fff;
}

/* プロフィール確認ボタン(広告主の取引ページ) */
.btn05 {
  display:inline-block;
  /* 右の送信ボタンとの距離をとる */
  margin-right: 0.4em;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #1e90ff;
  border: 1px #1e90ff solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.btn05:hover {
  color: #1e90ff;
  background: #fff;
}

/* 承認ボタン(ドライバーの取引ページ) */
.btn06 {
  display:inline-block;
  /* 右の送信ボタンとの距離をとる */
  margin-right: 0.4em;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  user-select: none;
  background: x#fff;
  border: 1px #b78c33 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.btn06:hover {
  color: #b78c33;
  background: #fff;
}

/* Google Map*/
#map {
  width:420px;
  height:350px;
  margin-bottom:20px;
}

/* テーブルのボーダー削除 */
#none-border td,
#none-border tr{
	border-style: none;
}

#deal-box{
  width: 120px;
}

/* チャットレイアウト ドライバー */
.message {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.message .faceicon {
  float: left;
  margin-right: -90px;
  width: 100px;
}
.message .faceicon img{
  width: 100%;
  height: auto;
  border: solid 2px #696969;
  border-radius: 50%;
}
.message .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  color: #333;/*テキストを黒にする*/
  background: #fff;
  border: 2px solid #1b2538;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #1b2538;
}
.say-data {
  float: left;
  padding: 18px 0px 0px 0px;
  color: #000;
  font-size: 12px;
}
.says p {
  margin: 0;
  padding: 0;
}

/* チャットレイアウト広告主 */
.message2 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.message2 .faceicon2 {
  float: right;
  margin-left: -90px;
  width: 100px;
}
.message2 .faceicon2 img{
  width: 100%;
  height: auto;
  border: solid 2px #696969;
  border-radius: 50%;
}
.message2 .chatting {
  width: 100%;
}
.says2 {
  display: inline-block;
  position: relative;
  float: right;
  margin: 5px 105px;
  padding: 17px 13px;
  border-radius: 12px;
  color: #fff;
  background: #1b2538;
}
.says2:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #1b2538;
}
.say-data2 {
  float: right;
  padding: 18px 0px 0px 0px;
  color: #fff;
  font-size: 12px;
}
.says p {
  margin: 0;
  padding: 0;
}

 /* Action Cable用 チャット レイアウト */
.says3 {
  display: inline-block;
  position: relative;
  margin-bottom:5px;
  margin-left:70%;
  padding: 17px 13px;
  border-radius: 12px;
  color: #fff;
  background: #1b2538;
}
.says3:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #1b2538;
}

/* チャットレイアウト メッセージエリア */
.chat-message {
  width: calc(100% - 75px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
  line-height: 16px;
  height: 80px;
  padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}
.chat-btn {
  width: 72px;
  height: 38px;
  font-size: 16px;
  padding-bottom: 10px;
  float: right;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
}
.chat-btn:hover {
  background: #1b2538;
  color: #fff;
  cursor: pointer;
}
/* 黒色のタグ */

.tag {
 background:#000;
 color:#fff;
 padding:6px;
 margin-bottom: 30px;
 border-radius:20px;
 text-decoration:none;
 font-size:13px;
}

/* フォームサイズ */
.input-small{
  width: 130px;
}

.input-medium{
  width: 230px;
}

#input-area{
  height: 400px;
}

.btn-default{
  background-color: #696969;
  color: #f5f5f5;
}

.btn-default:hover{
  background-color: #000000;
  color: #f5f5f5;
}

/* エラーメッセージ */
.alert {
  color:#262626; 
  background:#fff;
  border:2px solid #b78c33;
  margin:10px 0px;
  padding:12px; font-weight:850;
  }

/* adminからのメッセージ  シンプルver */
// .message-box{
//   padding: 0.5em 1em;
//   background: #fff;
//   border: 3px solid #b78c33;
//   color: #000;
//   margin-bottom:30px;
//   border-radius: 3px;
// }

/* adminからのメッセージ グラデーションver */
.message-box{
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#fccd45, #ec6722);
    background: -webkit-linear-gradient(#fccd45, #ec6722);
    background: linear-gradient(to right, #fccd45, #ec6722);
    color: #FFF;
    margin-bottom:30px;
    border-radius: 3px;
    text-align: center;
}

/* 新規広告ボタン*/
.ad-button-area{
  text-align: center;
  margin-bottom:20px;
}

/*ページネーション*/
.pagination li a {
  border: none;
  color: #5c5c5c;
  margin: 0px 3px;
}

.pagination .active a{
  background: #93c9ff;
  border-radius:15px;
}
.pagination li a:hover{
  border-radius: 15px;
}

  /* 振込先 */
.deposit-info {
  width: 100%;
  background:#fff;
  border-radius: 8px;
}

