/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';


.img_wrap{
  width: 200px;
  height: 180px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
}

.img_wrap:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

.image-circle{
  width:  200px;
  height: 190px;
  border-radius: 50%;
  position: center;
}

#none-border td,
#none-border tr{
	border-style: none;
}

/* チャットレイアウト1 */
.message {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.message .faceicon {
  float: left;
  margin-right: -90px;
  width: 100px;
}

.message .faceicon img{
  width: 100%;
  height: auto;
  border: solid 2px #696969;
  border-radius: 50%;
}

.message .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  color: #333;/*テキストを黒にする*/
  background: #fff;
  border: 2px solid #13178E;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #13178E;
}

.say-data {
  float: left;
  padding: 18px 0px 0px 0px;
  color: #000;
  font-size: 12px;
}

.says p {
  margin: 0;
  padding: 0;
}

/* チャットレイアウト2 */
.message2 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.message2 .faceicon2 {
  float: right;
  margin-left: -90px;
  width: 100px;
}

.message2 .faceicon2 img{
  width: 100%;
  height: auto;
  border: solid 2px #696969;
  border-radius: 50%;
}

.message2 .chatting {
  width: 100%;
}

.says2 {
  display: inline-block;
  position: relative;
  float: right;
  margin: 5px 105px;
  padding: 17px 13px;
  border-radius: 12px;
  color: #fff;
  background: #13178E;
}

.says2:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #13178E;
}

.say-data2 {
  float: right;
  padding: 18px 0px 0px 0px;
  color: #fff;
  font-size: 12px;
}

.says p {
  margin: 0;
  padding: 0;
}

/* チャットレイアウト メッセージエリア */


.chat-message {
  width: calc(100% - 75px);/*常に送信ボタンの横幅を引いたサイズに動的に計算*/
  line-height: 16px;
  height: 80px;
  padding: 14px 6px 0px 6px;/*文字がテキストエリアの中心になる様に隙間調整*/
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
  box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}

.chat-btn {
  width: 72px;
  height: 38px;
  font-size: 16px;
  padding-bottom: 10px;
  float: right;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.chat-btn:hover {
  background: #13178E;
  color: #fff;
  cursor: pointer;
}


