// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }


.welcom{
	text-align: center;
}


h1 {
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em;
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}


.flow-img{
	text-align: center;
	margin:20px 0px;
}

.be_ad_client{
	width:450px;
	height:380px;
	}

.be_ad_client:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

.be_driver{
	width:450px;
	height:380px;
}

.be_driver:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

/* aboutページの企業情報エリア */
.about-card {
	background: #fff;
	height: 150px;
	margin: 30px auto;
	padding: 20px;
	color: #222;
	border: 2px solid #b78c33;
	text-align: center;
	box-shadow: 5px 5px 5px rgb(192,192,192);
}

.about-image {
	background-image: url("/images/about_background.png");
	height: 800px;
	background-size: cover;
}


/* aboutページの企業情報エリア */
.company-area {
	background: #fff;
	padding: 25px;
	border: 2px solid #b78c33;
	box-shadow: 5px 5px 5px rgb(192,192,192);

}
