	<div class="row">
		<div class="col-xs-3">
			<div class="ad-button-area">
				<%= link_to "新規広告依頼", new_ad_client_ad_path(current_ad_client), data: {"turbolinks" => false }, class: "btn btn-lg btn-default ad-button" %>
			</div>
		 	<!-- ジャンル一覧 -->
 			<%= render "ads/genre_templete", genres: @genres %>
 		</div>
 		<div class="col-xs-8">
			<%= render 'ads/index', ads: @ads %>
 		</div>
	</div>
