<!-- ドライバー向けメッセージ -->
<% if driver_signed_in? %>
	<% if driver.is_active == false %>
		<div class="alert">
			<h4 class="notice">現在、会員サービスが停止中です。<br>詳しくは運営までお問い合わせください。</p>
		</div>
	<% end %>
	<% if driver.transfer_informations.blank? & driver.car_informations.blank? %>
		<div class="says">
			<h4 class="notice">・口座情報が未登録です。<br>
			<h4 class="notice">・車両情報が未登録です。</h4>
				<p>お取引を始める前に「ドライバー情報 編集」から登録してください。</p>
		</div>
	<% elsif driver.transfer_informations.blank?  %>
		<div class="says">
			<h4 class="notice">・口座情報が未登録です。<br>
				<p>お取引を始める前に「ドライバー情報 編集」から登録してください。</p>
		</div>
	<% elsif driver.car_informations.blank?  %>
		<div class="says">
			<h4 class="notice">・車両情報が未登録です。<br>
				<p>お取引を始める前に「ドライバー情報 編集」から登録してください。</p>
		</div>
	<% end %>
<% end %>
<!-- 広告主向けメッセージ -->
<% if ad_client_signed_in? %>
	<% if ad_client.is_active == false %>
		<div class="alert">
			<h4 class="notice">現在、会員サービスが停止中です。<br>詳しくは運営までお問い合わせください。</p>
		</div>
	<% end %>
<% end %>